.venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
reports/figures/
reports/tables/
data/raw/
data/interim/
data/processed/train/
data/processed/val/
artifacts/models/
.ds_store
.gemini/
